* {
    box-sizing: border-box;
}

// html {
//     background: $blue;
// }

body {
    font-family: almoni-dl , Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    font-size: 17px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

// .is-active {
//     font-weight: bold;
// }

// .rotate {
//     transform: rotate(90deg);
// }

