// Colors
$dark-grey: rgb(34, 34, 34);
$grey: rgb(70, 70, 70);
// $blue: #1c88bf;
$blue: #2497d1;
$dark-blue: #251f80;

// $dark-blue: #1f1a69;

// $dark-blue: #1b1666;
// $dark-blue: #321bb4;
// $off-white: #f7f7f7;


//font-sizes
$font-size-large: 2rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 940px;